<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Cafe Details</title>
	</head>
	<body>
		<h2>Cafe Details</h2>
		<div th:if="${cafe != null}">
			 <p>ID: <span th:text="${cafe.cafeId}"></span></p>
		   <p>Title: <span th:text="${cafe.name}"></span></p>
		   <p>Content: <span th:text="${cafe.location}"></span></p>
		   <p>Author: <span th:text="${cafe.openingHours}"></span></p>
		   <a th:href="@{/cafes}">Back to Board List</a>
		   <a th:href="@{'/update/' + ${cafe.cafeId}}">수정하기</a>
		</div>
		<div th:unless="${cafe != null}">
			
			<p>카페를 찾을 수 없습니다.</p>
			<a th:href="@{/cafes}">돌아가기</a>
			
		</div>
	</body>
</html>

<!--
	th:if 의 반대로 th:unless를 사용
	    th:if가 참이면 unless로 작성해준 태그는 보여지지 않으나
	th:unless가 참이면 unless로 작성해준 태그가 보여짐
	
 -->